<div class="row w-100 scroll">
  <div class="col text-center" *ngFor="let weather of forecast">
    <div class="bold">{{ weather.time * 1000 | date:'HH:mm' }}</div>
    <sc-skycons class="forecast" [weather]="getSkycon(weather.icon)" [color]="'white'"></sc-skycons>
    <div>{{ weather.temperature }}°c</div>
  </div>
</div>