<weather-search-view [cities]="cities" (inputChanged)="inputChanged($event)" (citySelected)="onOptionSelected($event)">
</weather-search-view>
<div class="wrapper">
    <weather-view *ngIf="weather; else loading" [weather]="weather" [city]="currentCity"></weather-view>
    <ng-template #loading>
        <mat-spinner></mat-spinner>
    </ng-template>
</div>
<weather-forecast-view *ngIf="weather" [forecast]="forecast"></weather-forecast-view>