<div class="search-wrapper">
  <button mat-icon-button (click)="toggleExpand()">
    <i class="fa fa-search fa-lg"></i>
  </button>
  <mat-form-field [floatLabel]="'never'" [class.expand]="expanded">
    <input matInput #cityInput (focusout)="expanded = false" placeholder="City" [(ngModel)]="searchValue"
      [matAutocomplete]="auto" (keyup)="inputChange()">
  </mat-form-field>
  <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onOptionSelected($event)">
    <mat-option *ngFor="let city of cities" [value]="city">{{ city.name }}</mat-option>
  </mat-autocomplete>
</div>