<h1 class="text-center">{{ this.city.name }}</h1>
<sc-skycons class="current" [weather]="this.weather.currently.icon" [color]="'white'"></sc-skycons>
<div class="row">
  <h3><i class="fa fa-thermometer-half fa-lg"></i> {{ this.weather.currently.temperature }}°c</h3>
  <h3><i class="fa fa-wind fa-lg"></i> {{ this.weather.currently.windSpeed }} km/h</h3>
</div>