/* You can add global styles to this file, and also import other style files */

html, body {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    background-color: rgb(185, 214, 245);
    background-image: linear-gradient(135deg, rgb(185, 214, 245) 25%, rgb(167, 213, 251) 100%);
    color: white;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.row {
    display: flex;
    .col {
        width: 20%;
    }
}

.w-100 {
    width: 100%;
}

.text-center {
    text-align: center;
}

.scroll {
    overflow: auto;
}

.bold {
    font-weight: bold;
}

// Skycons

sc-skycons {
    text-align: center;
    &.current canvas {
        width: 150px;
    }
    &.forecast {
        padding: 12px 0;
        canvas {
            width: 100px;
        }
    }
}